# python's bytecode compiled files
__pycache__/
*.pyc

# distribution / packaging
*.egg-info/
build/
dist/
doc/build/html

# IDE settings directory
.idea/
.vscode/

# macOS specific
.DS_Store

# GDS specific
*.gds
